<html>
    <head>
        <title>Загрузить Бит</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body bgcolor="black">
    <div class="uploadmenu">
            <h1>Загрузка бита</h1>
        <input type="text" placeholder="Цена Mp3">
        <br>
        <br>
        <input type="text" placeholder="Цена Wav">
        <br>
        <br>
        <input type="text" placeholder="Цена Track Out">
        <br>
        <br>
        <input type="text" placeholder="Цена Exclusive">
    </div>
    </body>
</html>